.ventana{
    width: 200px;
    height: 1500px;
    background-image: linear-gradient(rgb(168, 101, 87), rgb(3, 87, 255));
    border-radius: 0%;
    position: fixed;
    left: 0px; 
    top: 00px ;
    font-family: 'Poppins', sans-serif;
    color:white ;
}
.cuadro_pequeño{
    width: 100px;
    background-image: linear-gradient(rgb(60, 64, 104));
}
.Rectangulo_Izquierda{
}
.rectangulo_Derecha{
    
}


nombre
contactoi:numero,email
Estudios
Experiencia
imagen
Hobbies
portafolio
width: 300px;
    height: 200px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(149, 148, 145));
    border-radius: 10%;
    position: fixed;
    left: 30px; 
    top: 100px ;
    border: 10px solid rgb(0, 0, 0);