.ventana{

}
.cuadro_titulo{
    width: 1420px;
    height: 5cm;
    background:black;
    border-radius: 0%;
    position: fixed;
    left: 10px; 
    top: 10px ;
    font-family: 'Poppins', sans-serif;
    color:rgb(255, 255, 255) ;
    border-radius: 10cap;
   
}

.Rectangulo_Izquierda{
    position: fixed;
    width: 6cm;
   height: 15cm; 
   left: 0.2cm;
   top: 5.5cm;
   background: rgb(255, 0, 0);
   border-radius: 10cap;
   color:rgb(0, 0, 0) ;
   font-family: 'Poppins', sans-serif;
}
.rectangulo_Derecha{
    position: fixed;
    width: 29.8cm;
    height: 15cm;
    left: 7cm;
    top: 5.5cm;
    border-radius: 10cap;
    background: rgb(0, 0, 0);
}
img{
    position: fixed;
    width: 8cm;
    height: 9cm;
    left:7.5cm;
    top: 8cm;
    border-radius: 100cap;
}

.rectangulo_Derecha_2{
    position: fixed;
    width: 19.2cm;
    height: 14cm;
    left:17cm;
    top: 6cm;
    border-radius: 10cap;
    background: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}
nombre
contactoi:numero,email
Estudios
Hobbies
imagen

Experiencia
portafolio

